Resources/movies_metadata.csv filter=lfs diff=lfs merge=lfs -text
Resources/ratings.csv filter=lfs diff=lfs merge=lfs -text
Resources/wikipedia-movies.json filter=lfs diff=lfs merge=lfs -text
**/*.csv filter=lfs diff=lfs merge=lfs -text
**/*.json filter=lfs diff=lfs merge=lfs -text
